a {
    color: #1c1c1c;
}

header {
    background: #fff;
    color: #000;
}

nav {
    background: #909090;
}

nav ul li {
    background: #fff;
}

.emailbox:hover {
    outline: 5px dashed #000;
}
*:focus {
    background: #000;
}

.DeleteEmail {
    background: #fff;
}

nav ul li:hover {
    outline: 5px dashed black;
    background: #fff;
    color: black;
}

nav ul li:focus {
    color: white;
}

*:focus {
    background: #000;
}

.ebFooter button:hover {
    outline: 3px dashed black;
}
.ebFooter button:focus {
    outline: 3px dashed #fff;
}

.ebFooter button:focus {
    outline: 3px dashed black;
    color: #fff;
}




